<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href= "../static/estilo.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"> </script>
    <meta charset="utf-8">
    <title>Currículo Jean</title>
  </head>
  <body id="corpo">
      <img src = "../static/Foto-Jean.jpeg" alt = "Minha foto" widht="100px" > 
      <div id="nome">
      <h1>Jean Lucas Rothstein Machado</h1></div>

        <div id="cabecalho">
        <h2>Telefone: (12)98133-2759/ email: jean.machado.ismart@gmail.com</h2></div>
        <h2>Linkedin:<a href = "https://www.linkedin.com/in/jeanrothstein/"> linkedin</a></h2> 
        
        <div id="objetivo">
            <h3>PERFIL:</h3>
            <hr>
            <p>Programador júnior orientado a resultados, com experiência em desenvolvimento de software e trabalho em equipe. Busco uma oportunidade de estágio para
                desenvolver minhas habilidades e conhecimentos na área de programação e tecnologia. Passei na 8ª série para o projeto ISMART que me garantiu bolsas de estudo no Ensino Médio e Ensino
                Superior além de apoio para escolha profissional, já dei aulas de matemática voluntárias dentro de 
                um projeto chamado Empatia Virtual.</p>
            </p>
        </div>

        <div id="formacao">
            
            <h3>FORMAÇÃO:</h3>
            <hr>
            <ul id="lista">
                <li>Ensino Fundamental completo - 2010 a 2018;</li>
                <li>Ensino Médio completo - 2019 a 2021;</li>
                <li>Ensino Superior - cursando Engenharia da Computação - 2022 a 2025.</li>

            </ul>
        </div>

        <div id="exp">
        <h3>EXPERIÊNCIAS:</h3>
        <hr>
        <ul id="lista"></ul>
        <li>Grupo Cia de Talentos - auxiliar de backoffice - julho (2022) - 1 mês</li>
        <p>Trabalhei como auxiliar de backoffice em estágio de férias com a área
            do Jornada para o Futuro na empresa, em que eu desenvolvi planilhas
            padronizadas para a formulação do Dashboard dos eventos pela equipe de
            BI da empresa e para auxiliar na automatização de transferência de dados de
            uma plataforma online para planilha.</p>
        <li>BTG Pactual - desenvolvedor de software - janeiro (2023) - 1 mês</li>
        <p>Trabalhei como desenvolvedor na área de cartões com o serviço de
            Open Finance onde desenvolvi um serviço de backend para melhorar a
            administração do funcionamento dos bancos que fazem parte do Open
            Finance e otimizar a experiência dos clientes com o compartilhamento de
            dados desses bancos.</p>
        <li>BTG Pactual - desenvolvedor de software - julho (2023) - 1 mês</li>
        <p>Trabalhei como desenvolvedor de software de backend para a área de
            Fundos de Investimento do banco.</p>
        <hr>
        <p></p>
            <p>Passei na 8ª série para o projeto ISMART que me garantiu bolsas de estudo no Ensino Médio e Ensino
                Superior além de apoio para escolha profissional, já dei aulas de matemática voluntárias dentro de 
                um projeto chamado Empatia Virtual, fiz alguns cursos de lógica de programação básica em Python.
            </p></div>

        <div id="compl">
        <h3>APERFEIÇOAMENTO E ATIVIDADES COMPLEMENTARES:</h3>
        <hr>
        <h4>Medalhas e menções honrosas nas seguintes olimpíadas científicas:</h4>
        <ul>
            <li>OBMEP - menção honrosa - 2015, 2017, 2018;</li>
            <li>OBR - (ouro - 2018), (prata - 2020, 2021);</li>
            <li>Olimpíada de Matemática Poliedro - menção honrosa - 2020;</li>
            <li>OBA - prata - 2021;</li>
            <li>ONC - menção honrosa - 2020, 2021.</li>
        </ul></div>
        
        <div id="idiomas">
        <h3>HABILIDADES:</h3>
        <hr>
        <h4>Idiomas:</h4>
        <ul>
            <li>Inglês - Intermediário.</li>
        </ul>
        <h4>Competências técnicas:</h4>
        <ul>
            <li>C# </li>
            <li>Python </li>
            <li>SQL </li>
            <li>C++ </li>
            <li>GitHub </li>
            <li>MS Office</li>
        </ul>
        <h4>Competências socioemocionais:</h4>
        <ul>
            <li>Comunicação</li>
            <li>Trabalho em equipe</li>
            <li>Autoconhecimento</li>
            <li>Pensamento crítico</li>
            <li>Resolução de problemas</li>
        </ul>
        </div>
        <hr>
        <div id="main"></div>


</body>
</html>