html {
    font-family: 'Josefin Sans', sans-serif;
    background-color: darkslategray;
}

body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid aliceblue;
    text-shadow: 3px 3px 1px black;
}

h1, h2, h3, h4, p, li { 
    color:aliceblue
}
h1, h2 {
    text-align: center;
}

h3, h4, li, p {
    text-align: justify;
}
p {
    letter-spacing: 1px;
}
img {
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
}

#main {
	max-width: 800px;
	min-height: 100%;
	margin: 0 auto;
	background-color:lightslategray;
	padding: 1rem;
	text-align: center;
    background-color: darkslategray;
}

.user {
	padding: 1rem;
	margin: 1rem;
	background-color: lightslategray;
	text-align: left;
}

.title {
	display: inline-block;
    color: aliceblue;
}

.actions {
	display: block;
	float: right;
}

.action {
	display: inline-block;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	color: white;
	cursor: pointer;
}

.action:hover {
	text-decoration: underline;
}

.insert {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	color: chartreuse;
	cursor: pointer;
}

.insert:hover {
	text-decoration: underline;
}